html,
body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
}

.book {
    display: block;
    margin: 10pt;
    width: 20%;
    justify-content: center;
}

.author {
    display: block;
    margin: 10pt;
    width: 20%;
    justify-content: center;
}

a {
    padding-right: 5pt;
}

nav {
    text-align: center;
}

.container {
    min-height: 100% !important;
    position: relative !important;
  }

  #header {
    background: #ededed;
    padding: 10px;
  }
  #wrapper {
    padding-bottom: 40px;
    /* Height of the footer element */
  }

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}