<div class="container">
    
    <div id="header">
        
    </div>
    
    <nav class="navbar navbar-expand-md navbar-light bg-faded">
        <a class="navbar-brand" href="#">LibMan</a>
        <button class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/dashboard">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/books">
                    Books
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/authors">
                    Authors
                </a>
            </li>
        </ul>
        <span class="navbar-text">
            <a routerLink="/dashboard">
                Legal
            </a>
        </span>
    </div>
    </nav>

    <div id="wrapper">
        <router-outlet></router-outlet>


    </div>

    <div id="footer">
        <div class="row" style="background-color: #eee; margin-top: 2em; padding: 1em;">
            ---Dead End---
        </div>
        
        <app-messages class="row"></app-messages>
    </div>   


</div> <!--ending container element-->


    <!-- <h1 routerLink="/dashboard">{{title}}</h1>
    <nav>
        <a routerLink="/bookDetail/0"> New Book </a>
        <a routerLink="/books"> Books Overview </a>
        <a routerLink="/authors"> Authors Overview </a>
        <a routerLink="/authorDetail/0"> New Author </a>
        </nav> -->






<!-- <div class="overview">
  <div class="card book">
      <app-books></app-books>
  </div> 
  <div class="card author">
        <app-authors></app-authors>
    </div>  
</div> -->
